.wrap{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.itemText{
    padding-top: 15vh;
    text-align: center;
    z-index: 1;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;


    @media (max-width:768px) {
        flex-direction: column;
    }
}



.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 256px;
    border: none;
    border-radius: 9px;
    opacity: 0.85;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    margin: 8px;
    z-index: 1;
    margin-bottom: 50px;
    font-weight: 600;

}

.leftButton{
    background-color: rgba(23, 26, 32, 0.8);
    color: white;
    
}

.rightButton{
    background-color: white;
    opacity: 0.65;
    color: black;

}

.downArrow{
    height: 40px;
    animation: animateDown infinite 1.5s;
    overflow-x: hidden;
}